<ion-view title="Amereiaf" >
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

       <ion-content scroll="true">
         <div class="amere-body">
        <div class="list">
        <div class="item item-divider head-ame">
          <b>Consejo Directivo 2017-2018</b>
        </div>
         <div class="imame" ng-repeat="a in detalles">
            <div class="item item-thumbnail-left item-text-wrap amere-body">
              <img src="{{a.imagen}}">
              <h2 class="tit-ame" ng-bind-html="a.titulo" ></h2>
              <p ng-bind-html="a.descripcion"></p>
            </div>
         </div>
         <br>
         <div class="item item-divider head-ame">
           Comisiones de Trabajo
         </div>
         <div class="imame" ng-repeat="a in detallesc">
            <div class="item item-thumbnail-left item-text-wrap amere-body">
              <img src="{{a.imagen}}">
              <h2 class="tit-ame" ng-bind-html="a.titulo" ></h2>
              <p ng-bind-html="a.descripcion"></p>
            </div>
         </div>
       </div>

       </ion-content>
