

<ion-view title="Contacto">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-content overflow-scroll="hidden"  padding="false" class="has-header">
<div class="container">
      <h2></h2>
        <form name="exampleForm">
          <div><h5>Envíanos tus opiniones y comentarios</h5></div>
          <div class="form-group">
            <!--label class="control-label" for="name"><strong>Nombre</strong></label-->
            <input type="text" class="form-control" placeholder="Nombre" name="nombre" ng-model="nombre" required>
            <span ng-show="!exampleForm.$pristine && exampleForm.name.$error.required">Nombre es requerido.</span>
          </div>

          <div class="form-group">
            <!--label for="email"><strong>Correo Electrónico</strong></label-->
            <input type="email" class="form-control" placeholder="correo@email.com" name="email" ng-model="email" required>
            <span ng-show="!exampleForm.$pristine && exampleForm.email.$error.email">Por favor ingrese un e-mail valido</span>
          </div>

          <div class="form-group">
            <!--label for="mensaje"><strong>Mensaje</strong></label-->
            <textarea type="mensaje" class="form-control" placeholder="Escribe tu comentario" maxlength="256" name="mensaje" ng-model="mensaje" required>
            </textarea>
          </div>

          <button class="btn btn-success button button-block button-dark button-small" ng-click="submit(nombre,email,mensaje)" ng-disabled="!exampleForm.$valid">
          Enviar Comentario
          </button>
        </form>
      </div>
    </div>
    </ion-content>
</ion-view>
