<ion-view title="Comité Organizador">

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-content overflow-scroll="hidden" padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left  item-text-wrap" ng-repeat = "comit in comite">
                <img src="{{comit.imagen}}">
                <h2><strong>{{comit.nombre}}</strong></h2>
                <p align="justify">{{comit.info | limitTo:124}}...</p>
				<p><a href ="{{comit.url}}" onclick="window.open(this.href,'_system', 'location=yes'); return false;"> Ir al sitio </a></p>
            </ion-item>
			
        </ion-list>
    </ion-content>
</ion-view>