<div class="Informacion">

<ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-content overflow-scroll="hidden" padding="false" class="has-header">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Nombre Ponente</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
  </div>

</div>
</ion-content>
</div>