<style>
  span.glyphicon.glyphicon-remove-circle {
    color: #000;
    font-size: 35px;


  }

    .rayita{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 29px;
    padding-bottom: 37px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  .estrella{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 85%;
  }
  </style>
<ion-view title="Mi Selección">

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content>
	  <ion-refresher
	    pulling-text="Actualizar..."
	    on-refresh="doRefresh()">
	  </ion-refresher>

	  <ion-item ng-hide="oculto">
		  </br>
		  <h2 align="center"><b>No tienes eventos favoritos.</b></h2>
		</ion-item>

		  <ion-list>
		  <ion-item class="item-icon-right item-text-wrap" ng-repeat="event in saved">
		  <div style="text-align:justify" ng-bind-html="event.accionFav"></div>
		  <p>{{event.diaFav}}  {{event.ponenteFav}} a  {{event.horaFav}}  <br>{{event.lugarFav}}</p>
		 <span class="estrella glyphicon glyphicon-remove-circle" ng-click="deleteFav(event.id,event.index)"></span>
	  	  </ion-item >
	  	  </ion-list>
  </ion-content>
</ion-view>
