<ion-view title="Gafete">

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-content overflow-scroll="hidden" padding="false" class="has-header">

    <div class="qr">
      <div>
        <p>
          <label><h4>Generar QR</h4></label>&#160;
          Escriba su número de folío para generar el código QR correspondiente.
        </p>
      </div>

    <qrcode error-correction-level="Q" size="230" data="{{foo}}" download="">
    <a class="qrcode-link" download="qrcode.png" title="Download QR code">
      <canvas class="qrcode" height="230" width="230"></canvas>
      <a>
      </qrcode>
  <input  class="qrcode" ng-model="foo" placeholder="Clave"  ng-change="gafete('{{foo}}')" style="margin-top:10px; text-aling=center;">
    <buton class="button button-block button-positive button-small" style="padding:0 16px;"  ng-click="gafete(foo)">Guardar</button>
    &#160;
    </div>
    </ion-content>
</ion-view>
