﻿<ion-view title="{{dia}}">
<style type="text/css">
  .rayita{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 29px;
    padding-bottom: 0px;
    float: left;
    position: absolute;
    margin-top: 0px;
    /*margin-bottom: 0px;

    */
    height: 100%;
    margin-right: 10px;

  }
  a img{
    padding-top: 5px;
    padding-right: 3px;
    padding-left: 3px;
  }

	i.glyphicon.glyphicon-heart
 {
    color: #01B2E4;
    font-size: 30px;


  }

  i.glyphicon.glyphicon-heart-empty {
    color: #01B2E4;
    font-size: 30px;



  }
  .item-icon-right .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 10px;
    bottom: 10px;
    height: inherit;
    right: auto;
    padding-left: 3px;
    padding-right: 3px;
}

  .estrella{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 90%;
  }

  button{
    border:0;
  }
</style>

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  <!--a href="">
   <button class="button button-icon icon ion-ios-information-outline" ng-click="colores(1)"></ion-nav-buttons></button></a-->

   </ion-nav-buttons>
<div ng-if="dia=='Jueves'">
  <!---->
<div class="tabs-striped tabs-top tabs-icon-top tabs-background-light tabs-color-light">
    <div class="tabs button-bar non-tabs">

      <a class="tab-item item-image" href="#/menu/page9/Jueves">
         <button class="button button-positive button-block button-small button-dias but-activo">28 de Junio<br><small>JUEVES</small></button>
      </a>

      <a class="tab-item item-image" href="#/menu/page9/Viernes">
        <button class="button button-calm button-block button-small  button-dias but-inactivo">29 de Junio<br><small>VIERNES</small></button>
      </a>
<!--
      <a class="tab-item item-image" href="#/menu/page9/Miércoles">
        <button class="button button-calm button-block button-small button-dias but-inactivo">18 de Octubre<br><small>MIÉRCOLES</small></button>
      </a>
-->
    </div>
  </div>
  <!---->
</div>
<div ng-if="dia=='Viernes'">
  <!---->
<div class="tabs-striped tabs-top tabs-icon-top tabs-background-light tabs-color-light">
    <div class="tabs non-tabs">
      <a class="tab-item item-image" href="#/menu/page9/Jueves">
         <button class="button button-calm button-block button-small button-dias but-inactivo">28 de Junio<br><small>JUEVES</small></button>
      </a>

      <a class="tab-item item-image" href="#/menu/page9/Viernes">
        <button class="button button-positive button-block button-small  button-dias but-activo">29 de Junio<br><small>VIERNES</small></button>
      </a>

    </div>
  </div>
  <!---->
</div>

<ion-content overflow-scroll="hidden" padding="false" class="has-header">
<!---------------------------------------------------------------------------->
<div class="list" style="padding-top:52px;">



<div ng-repeat="data in programa | orderBy: 'doc.orden'">
    <div class="item item-icon-right item-text-wrap">

      <div ng-if="data.vot == 1" >
        <div style="margin-left:15px;" align="justify">
        <div class="button button-icon icon" style="background-color:{{data.color}}; left:10px;">
        </div>
        <div style="font-size:14px;">
         <div ng-bind-html="data.accion"><br></div>
        </div>
          <h4>
            <br>{{data.hrini}} - {{data.hrfin}}<br>{{data.lugar}}
          </h4>
        </div>
    </div>

    <div ng-if="data.vot == 0">
    <a href="#menu/valoracion/{{data.id_programa}}" >
      <div style="margin-left:15px;" align="justify">
      <div class="button button-icon icon" style="background-color:{{data.color}}; left:10px;">
      </div>
      <div style="font-size:14px;">
       <div ng-bind-html="data.accion"><br></div>
      </div>
        <h4><br>{{data.hrini}} - {{data.hrfin}}<br>{{data.lugar}}</h4>
      </div>
    </a>
</div>

    <div ng-if="data.favorito=='1'">
    </div>
    <div ng-if="data.favorito=='0'">
      <uib-rating  class="estrella" type="success"  max="max" ng-model="datos[$index].rate" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'glyphicon glyphicon-heart'" state-off="'glyphicon  glyphicon-heart-empty'"  ng-click="insertFav(data.accion,data.hrini,data.hrfin,data.lugar,$index,data.dia)">
      </uib-rating >
    </div>
  </div>
  </div>

  </ion-content>
</ion-view>

 <script id="codigo.html" type="text/ng-template">
      <div class="modal">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Código de Colores</h1>
          <div class="button button-clear" ng-click="cerrar()"><span class="icon ion-close"></span></div>
        </header>
        <ion-view>
        <ion-content  has-header="true" padding="false" scroll="false">
          <div class="list">
      <div class="item item-body">
    <img class="full-image" src="img/colores_eventos_isum.png" style="padding-top:150px">
    </div>
   </div>
  </div>
</div>

        </ion-content>
        </ion-view>
      </div>
    </script>
