<ion-side-menus>

  <ion-pane ion-side-menu-content>

    <ion-nav-bar align-title="center" class="bar-positive bar-amereiaf">
      <!--<ion-nav-back-button class="button-clear" transitiontype="flip" direction="right" go-native>
      <i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>-->
    </ion-nav-bar>


 <!--animation="slide-left-right"-->
    <ion-nav-view name="menus" transitiontype="flip" direction="right" go-native>

    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Menú</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
      <strong>
      	<ion-item nav-clear menu-close href="#/menu/page1" class="item item-icon-left">
        <i class="icon ion-home"></i>
          Inicio
        </ion-item>
        <ion-item nav-clear menu-close href="#/menu/page9/Jueves" class="item item-icon-left">
        <i class="icon ion-ios-list-outline"></i>
          Programa
        </ion-item>
        <ion-item nav-clear menu-close href="#/menu/page3" class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
          Ponentes
        </ion-item>
        <ion-item nav-clear menu-close href="#/menu/page10" class="item item-icon-left">
        <i class="icon ion-heart"></i>
         Favoritos
        </ion-item>

        <ion-item nav-clear menu-close href="#/menu/page4" class="item item-icon-left">
         <i class="icon ion-map"></i>
          Ubicación
        </ion-item>


        <ion-item nav-clear menu-close href="#/menu/page5" class="item item-icon-left">
        <i class="icon ion-paper-airplane"></i>
          Contacto
        </ion-item>
        </strong>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
