<ion-view title="Avisos">

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-content overflow-scroll="hidden" padding="false" class="has-header">


<div class="list">

     <ion-item class="item item-text-wrap"ng-repeat="news in noticias | orderBy:-'doc.creacion'">
     <p><strong>{{news.aviso}}</strong><br>{{news.creacion | date:'medium'}}</p>

     </ion-item>
</div>
</ion-content>
</ion-view>''
