<ion-view title="Patrocinadores">
<style type="text/css">
    a{
        color:blue;
        text-decoration: none;
    }
</style>
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div class="list card" >
            <div class="item item-divider" align="center">
                Diamante
            </div>
            <ion-item class=" item-thumbnail-left item-text-wrap" ng-repeat="diamond in diamante">
                <img src="{{diamond.imagen}}">
                <h2><strong>{{diamond.nombre}}</strong></h2>
                <p>{{diamond.info}}</p>
                <hr >
                <p><a href='{{diamond.url}}' onclick="window.open(this.href,'_system', 'location=yes'); return false;">Ir al Sitio</a> </p>
            </ion-item>
            <div class="item item-divider" align="center">
                Platino
            </div>
            <ion-item class="item-thumbnail-left item-text-wrap" ng-repeat="platinum in platino">
                <img src="{{platinum.imagen}}">
                <h2><strong>{{platinum.nombre}}</strong></h2>
                <p>{{platinum.info}}</p>
                <hr >
                <p><a href='{{platinum.url}}' onclick="window.open(this.href,'_system', 'location=yes'); return false;">Ir al Sitio</a></p>
            </ion-item>
            <div class="item item-divider" align="center">
                Oro
            </div>
            <ion-item class="item-thumbnail-left item-text-wrap" ng-repeat="gold in oro">
                <img src="{{gold.imagen}}">
                <h2><strong>{{gold.nombre}}</strong></h2>
                <p>{{gold.info}}</p>
                <hr >
                <p><a href='{{gold.url}}' onclick="window.open(this.href,'_system', 'location=yes'); return false;">Ir al Sitio</a></p>
            </ion-item>
        </div>

 <div class="item item-divider" align="center">
                Plata
            </div>
            <ion-item class="item-thumbnail-left item-text-wrap" ng-repeat="pla in plata">
                <img src="{{pla.imagen}}">
                <h2><strong>{{pla.nombre}}</strong></h2>
                <p>{{pla.info}}</p>
                <hr >
                <p><a href='{{pla.url}}' onclick="window.open(this.href,'_system', 'location=yes'); return false;">Ir al Sitio</a></p>
            </ion-item>
        </div>

    </ion-content>
</ion-view>