<ion-view title="Ponentes">

  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

         <ion-content scroll="true" class="">

<ion-content>
 <div class="list card">
  <div class="item item-body">
    <div class="img-center">
    <img class="full-image" style="width: 90%" src="{{img}}">
    </div>
    <div style="margin: 25px">
    <div class="color-ponente">
    <label class="nomp">{{nombre}}</label>
    <p class="desc" ng-bind-html="deta"></p>
    </div>
   </div>
  </div>

</div>

  </ion-content>
</ion-view>
