<ion-view title="Ponentes">

  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="false" >
        <div class="list card" >
            <ion-item class=" item-thumbnail-left item-text-wrap" ng-repeat="ponent in ponente">
                <img src="{{ponent.imagen}}">
                <h2><strong>{{ponent.nombre}}</strong></h2>
                <p class="infpon" ng-bind-html="ponent.descripcion"></p>
                ...
                <a href='#/menu/page12/{{ponent.id_ponentes}}'> <br>Más Información</a>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
