<ion-view title="Sede" >
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

            <ion-content overflow-scroll="true" padding="false" class="has-header">
          <img src="./img/imagen_unicar.jpg" class="img-responsive" />
        <div class="list card" >
            <ion-item class=" item-thumbnail-left item-text-wrap" ng-repeat="a in detalles">
                <img src="{{a.imagen}}">
                <h2><strong>{{a.titulo}}</strong></h2>
                <p class="infpon" ng-bind-html="a.descripcion"></p>
                <a href='#/menu/page13/{{a.id_sede}}'> <br>Más Información</a>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
