
<ion-view title="Amereiaf " >
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="fondo">

       <!--<div class="">
         <img class="logo-ame" src="img/logo.png" />
       </div>-->

       <div class="card card-buap">
         <div><img src="img/cuadros.png" class="img img-responsive separador"> </div>
         <br>
       <div  class="button-bar" style="padding-top: 5px;">
         <a href="#/menu/page9/Jueves" class="button button-piconos">
           <img src="img/programa.png" class="img img-responsive">
         </a>

         <a  href="#/menu/page3" class="button button-piconos">
           <img src="img/ponentes.png" class="img img-responsive">

         </a>
         <a href="#/menu/page10" class="button button-piconos">
           <img src="img/favoritos.png" class="img img-responsive">
         </a>
       </div>
       <br>
       <div class="button-bar">

         <a href="#/menu/page4" class="button button-piconos">
           <img src="img/ubicacion.png"  class="img img-responsive">

         </a>
         <a  href="#/menu/amereiaf" class="button button-piconos">
           <img src="img/amereiaf.png" class="img img-responsive"
         </a>
         <a href="#/menu/page5" class="button button-piconos">
           <img src="img/contacto.png"  class="img img-responsive">

         </a>
       </div>
       <br>
       <div class="button-bar">


         <a href="#" class="button button-piconos">
           <!--img src="img/gafete.png" class="img img-responsive"-->
         </a>
       </div>
       </div>

  </ion-content>
</ion-view>
