<style>
  .card-ame{
    padding: 16px;
    background: rgba(255, 255, 255, 0.8);
    bottom: 0px;
    margin-bottom: 25%;
  }
  .card-ame h3{
    text-align: center;
  }
  .card-ame h5{
    text-align: justify;
  }
</style>
<side-menu-content drag-content="false">
  <ion-view title="AMEREIAF">
  <ion-content scroll="false" class="fondo">
    <div class="card card-ame card-buap">
      <h3>{{estado[0].titulo}}</h3>
      <h5>
        {{estado[0].mensaje}}
      </h5>
    </div>
  </ion-content>
  </ion-view>
</side-menu-content>
