<ion-view title="Ubicación"  class="fondo02">
  <ion-nav-buttons side="left">
  	<button menu-toggle="left" class="button button-icon ion ion-navicon"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader" style="height: 75px;">
    <h5 style="text-align:center;">Universidad Autónoma de Nuevo León</h5>
    <h5 style="text-align:center;">Unidad de Seminarios - Campus Mederos</h5>
  </div>
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <iframe style="width: 100%; height: 100%; float: left;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5999.383052464758!2d-100.28723117767422!3d25.6081476605779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bf150fbf13c3%3A0xd4c24290c3376a88!2sUnidad+de+Seminarios+UANL!5e0!3m2!1sen!2smx!4v1529708410229" frameborder="0" style="border:0" allowfullscreen></iframe>

</ion-content>
</ion-view>
