<ion-view title="MAPA Amereiaf"  class="fondo">
  <ion-nav-buttons side="left">
  	<button menu-toggle="left" class="button button-icon ion ion-navicon"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader button-buap">
    <div class="button-bar">

      <button class="button button-light" ng-click="openModal(1)">Origen</button>
      <button class="button button-light" ng-click="openModal(2)">Destino</button>
      <button class="button button-assertive" ng-click="getDirections()">Buscar</button>
    </div>
  </div>
<div  style="margin-top:44px;">
    <button class="btn btn-danger btn-block" ng-click="getDirections()">Buscar Ruta</button>
  </div>

</div>
		<div id="map" style="width: 100%; height: 100%; float: left;"></div>
    <button class="button button-float" ng-click="miposicion(miubicacion)">
    <i class="icon ion-ios-navigate-outline"></i>
    </button>
</ion-view>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="popover-lobo">
        <ion-content>
          <div class="list" id="capture">
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    <!-- Modals -->
      <script id="templates/origen.html" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive bar-buap">
          <h1 class="title">Origen</h1>
          <button class="button button-clear button-primary" ng-click="closeModal(1)">Cancelar</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Buscar" ng-model="buscador">
            </label>
          </div>
          <div class="item t item-text-wrap"  ng-click="origen(miubicacion)">
            <b>Mi Ubicación</b>
          </div>
            <div class="item t item-text-wrap" ng-repeat="u in ubicaciones|filter:buscador" ng-click="origen(u.latitude+','+u.longitud)">
              {{u.lugar}}
            </div>
        </ion-content>
      </ion-modal-view>
      </script>

      <script id="templates/destino.html" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive bar-buap">
          <h1 class="title">Destino</h1>
          <button class="button button-clear button-primary" ng-click="closeModal(2)">Cancelar</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Buscar" ng-model="buscador">
            </label>
          </div>
            <div class="item t item-text-wrap" ng-repeat="u in ubicaciones|filter:buscador" ng-click="destino(u.latitude+','+u.longitud)">
              {{u.lugar}}
            </div>
        </ion-content>
      </ion-modal-view>
      </script>
