<style>
.ionic_ratings .icon {
  font-size: 50px;
}
.ionic_ratings .read_only {
    pointer-events:none !important;
  }
</style>
<ion-view title="Valoración" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="true">
    <div class="list" ng-if="ver == true">
      <div class="item  item-text-wrap" align="center">
        <h3 ng-if="ment==false">¿Que te ha parecido la ponencia?</h3>
        <h3 ng-if="ment==true">{{mens}}</h3><br>
      <ionic-ratings ratingsobj='ratingsObject' index='0'></ionic-ratings>
      <div ng-if="ment==false">
      <br><h3>¿Te gustaria aportar algo más?</h3><br>
      <textarea ng-model="algomas" name="algomas" class="form-control"></textarea>
      <button class="btn btn-primary btn-block" ng-click="enviar(algomas)">Enviar</button>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
