

.fondo{
  background: url('../img/fondoMty.png');
  background-position: center;
  background-size: cover;
	/*margin-bottom: 150px;*/
}

.fondo02 {
  background: url('../img/fondo_amereiaf_junio.png');
  background-position: center;
  background-size: cover;
}

.img-center{
  margin-left: 8%;
  width: 92%;
}
.list{
  background-color:white;
}

.scroll {
  height: 100%;
  padding-top: 0px;
}

#bar-positive{
  color:black;

}

.ng-ivalid{
  border:thin solid #990000;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}


i.glyphicon.glyphicon-star {
    color: red;
    font-size: 30px;


  }
  i.glyphicon.glyphicon-star-empty {
    color: red;
    font-size: 30px;



  }

  .estrella{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    /*top: 35px;*/
    /*left: 300px;*/
  }

  .button-piconos{
    background-color: transparent;
    /*text-shadow: 2px 2px 2px rgba(0,0,0,0.3);*/
    line-height: 15px;
    border: none;
  }

  .button-piconos.activated{
    background-color: transparent;
  }

  .card-buap{
    background-color: transparent;
    box-shadow: none;
    /*padding-top: 60%;*/
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;

  }
  /*iphone 4 45%*/
  .separador{
    margin:0 auto;
  }

.button-dias{
  margin-top: 2px !important;
  letter-spacing: 1px;
  line-height: 20px;
  border-radius: 0px;
  left: 1px;
  right: 1px;
  padding: 0px 0px;
  display: inline-block;
}

.bar-amereiaf{
background: transparent;
box-shadow: 2px 0px 2px rgba(0,0,0,0.5);
border-color: rgba(0, 0, 0, 0.17);
}

.qr{
    text-align: center;
}

.qr-input{
  margin: 0px;
  width: 100%;
  font-size:20px;
  border-radius:4px;
  text-align: center;

}

.qrcode{
  text-align: center;
  font-size:20px;
  color: black;
  border-radius:4px;
  margin-top: 2%;
}

input[type='text'],input[type='email'],textarea{
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  padding: 0 10px;
  margin: 10px 0px;

}
.flip-button {
  -webkit-perspective: 1000;
  perspective: 1000; }

.flip-button .back, .flip-button .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: absolute;
  width: 40px; }

.flip-button .back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.flip-button .front {
  -webkit-transform: rotateY(0deg);
  z-index: -2; }

.flip-button.hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

.flip-button.hover .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.bar .button {
  padding: 0px;
}

.contenido p{
  color: black;
}

.titulo p{
  text-align: center;
  font-size: 18px;
}

.imame {
  font-size: 14px;
}

.amere p{
  text-align: justify;

}

.cuerpo{
  margin: 16px;
}

.infpon{
    height: 40px;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.desc{
  text-align: justify;
}
.bar.bar-positive {
    border-color: rgb(16, 80, 132);
    background-color: rgb(16, 80, 132);
    background-image: none !important;
    color: #fff;
}

.head-ame{
  text-align: center;
  border-color: rgb(16, 80, 132);
  background-color: rgb(16, 80, 132);
  color:white;
}

.amere-body{
  border-width:0px;
}

.tit-ame{
  color:#6f8da9;
}

.logo-ame{

}

.loading-container .loading {
  background: transparent;
}
.spinner svg{
  width: 19% !important;
  height: 85px !important;
}
.tab-item.item-image{
  max-width: 100%;
}

.item-programa{
  border-width: 0px;
  border-color: transparent;
}


.but-activo{
  background-color: #0f5086 !important;
  border-color:#0f5086 !important;
}
.but-inactivo{
  background-color: #cecece !important;
  border-color: #cecece !important;
  color: black !important;
}
.non-tabs{
  border-bottom:none !important;
}


/*TODOS LOS MEDIAS QUERYS DE LOS DISPOSITIVOS SE ENCUENTRAN A CONTINUACION*/

/*nexus 10*/
@media screen and (min-device-width : 800px) and (max-device-width : 1280px) and (device-width : 800px) and (device-height : 1280px){
  .card-buap{
    margin:0px 0px 100px 100px
  }
  .img.img-responsive{
    zoom: 1.2;
  }

 }

 /*ipad mini*/
 @media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (device-width : 768px) and (device-height : 1024px){
 .card-buap{
    margin: 0px 0px 100px 115px;
  }
  .card-ame {
      margin: 0px;
  }
}


/*NEXUS 4, LG OPTIMUS*/
@media screen and (min-device-width : 384px) and (max-device-width : 640px) and (device-width : 384px) and (device-height : 640px){

}



/*iphone 6*/
@media screen and (min-device-width : 375px) and (max-device-width : 667px) and (device-width : 375px) and (device-height : 667px){
  .card{
   margin: 0px 0px 65px 35px;
 }

}

/*NEXUS 5 Y GALAXY S5, S3 Y GALAXY NOTE 3 y 2*/
@media screen and (min-device-width : 360px) and (max-device-width : 640px) and (device-width : 360px) and (device-height : 640px){

 /*.card{
   margin: 0px 0px 18px 15px;
 }*/

}
/*NEXUS 6*/
@media screen and (min-device-width : 412px) and (max-device-width : 732px) and (device-width : 412px) and (device-height : 732px){
 .card-buap{
  padding-top:55%;
 }
}

/*nexus 7*/
@media screen and (min-device-width : 600px) and (max-device-width : 960px) and (device-width : 600px) and (device-height : 960px){
 .card-buap{
  padding-top:55%;

 }
 .card{
   padding-bottom: 30px;
  margin: 25px 55px;
 }

}
/*iphone 6s plus*/
@media screen and (min-device-width : 414px) and (max-device-width : 736px) and (device-width : 414px) and (device-height : 736px){
.card{
   margin: 0px 0px 30px 5px;
 }


/*iphone 4*/
@media screen and (min-device-width : 320px) and (max-device-width : 480px) and (device-width : 320px) and (device-height : 480px){
  .card-buap{
  padding-top:44%;
 }
}

/*iphone 5*/
@media screen and (min-device-width : 320px) and (max-device-width : 568px) and (device-width : 320px) and (device-height : 568px){
.card-buap{
  padding-top:55%;
 }
}
/*IPAD PRO*/
 @media screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (device-width : 1024px) and (device-height : 1366px){
  .item-icon-right{
    padding-right: 140px;
   }
   .card-buap{
    margin: 0px 130px 200px 160px !important;
   }
   .card-ame {
       margin: 0px;
   }

 }

.item p {
  color:#444;
}
